.app-container {
  width: 100%;
  overflow-x: auto;
}

.scrollable-container {
  max-width: 100%;
  overflow-x: auto;
}

.student-table {
  border-collapse: collapse;
  width: 100%;
}

.student-table th, .student-table td {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap; /* Prevent text wrapping */
  background-color: #f9f9f9; /* Set background color for all columns */
}

.student-table th {
  background-color: #007bff; /* Set background color for header */
  color: white; /* Set text color for header */
}

.fixed-column {
  position: sticky;
  left: 0;
  background-color: #f5f5f5;
  z-index: 1;
}

.bold-text {
  font-weight: bold;
}

.profile-img {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border-radius: 50%;
}

.small-padding {
  padding: 5px;
}

.contact-link {
  color: #007bff;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}
